<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <linkManager>
      <patch:attribute name="defaultProvider">switcherLinkProvider</patch:attribute>
      <patch:attribute name="fallbackProvider">sitecore</patch:attribute>
      <providers>
        <add name="mySite1LinkProvider" type="MySite1.Foundation.Multisite.Links.MySite1LinkProvider, MySite1.Foundation.Multisite" />
        <add name="mySite2LinkProvider" type="MySite2.Foundation.Multisite.Links.MySite2LinkProvider, MySite2.Foundation.Multisite" />
        <add name="switcherLinkProvider" type="DailySitecore.SwitchLinkManager.Links.SwitchLinkProvider, DailySitecore.SwitchLinkManager" />
      </providers>
    </linkManager>
  </sitecore>
</configuration>